
dj-database-url
Django
django-heroku
django-progressive-web-app
django-pwa
django-widget-tweaks

fcm-django
filelock
firebase
firebase-admin
Flask
fonttools
future
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-cloud-core
google-cloud-firestore
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
googletrans
grpcio
grpcio-status
gunicorn
h11
html5lib
httpcore
httplib2
httpx




mypy-extensions
mysql
mysqlclient

notebook
numpy
oauthlib

outcome

py
py-vapid
pyasn1
pyasn1-modules
pycparser
pydantic
pyfcm
Pygments
PyJWT
pyOpenSSL
pypandoc
pyparsing
PyPDF3

pyrsistent
PySocks
python-bidi
python-dateutil

python-slugify
python-webpack-boilerplate
pyttsx3
pytz


requests
requests-oauthlib
rfc3986
rsa


sqlparse

uritemplate
urllib3
virtualenv
virtualenv-clone
virtualenvwrapper-win
wasabi
wcwidth
webencodings


widgetsnbextension
wrapt
wsproto
xhtml2pdf
