
dj-database-url
Django
django-heroku
django-progressive-web-app
django-pwa
django-widget-tweaks

fcm-django
filelock
firebase
firebase-admin
Flask
fonttools
future
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-cloud-core
google-cloud-firestore
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
googletrans
grpcio
grpcio-status
gunicorn
h11
html5lib
httpcore
httplib2
httpx

iostream



mypy-extensions
mysql
mysqlclient

notebook
numpy
oauthlib
opencv-python
outcome
p2j
packaging
pandas
pandocfilters
parso
pathspec
pathy
pickleshare
Pillow
pipenv
platformdirs
pluggy
poyo
preshed
prometheus-client
prompt-toolkit
proto-plus
protobuf
psycopg2
pure-eval
py
py-vapid
pyasn1
pyasn1-modules
pycparser
pydantic
pyfcm
Pygments
PyJWT
pyOpenSSL
pypandoc
pyparsing
PyPDF3

pyrsistent
PySocks
python-bidi
python-dateutil
python-git==2018.2.1
python-slugify
python-webpack-boilerplate
pyttsx3
pytz


pyzmq
qtconsole
QtPy
reportlab
requests
requests-oauthlib
rfc3986
rsa

selenium
Send2Trash
six
smart-open
sniffio
sortedcontainers
spacy-legacy
spacy-loggers
sqlparse
srsly
stack-data
svglib
sympy
tensorboard-data-server
tensorboard-plugin-wit
terminado
testpath
text-unidecode
thinc
tinycss2
toml
tomli
tornado
tox
tqdm
traitlets
trio
trio-websocket
typed-ast
typer
typing_extensions
tzdata
uritemplate
urllib3
virtualenv
virtualenv-clone
virtualenvwrapper-win
wasabi
wcwidth
webencodings
Werkzeug
whitenoise
widgetsnbextension
wrapt
wsproto
xhtml2pdf
